body{
  text-align: center;
}
h1{
  text-align: center;
}
.container{
  border: 2px solid grey;
  text-align: center;
}
.row{
  border: 2px solid grey;
  padding: 4%;
  margin: 3%;
}
.col-12{
  border: 2px solid grey;
  margin-bottom: 5%;
  margin-top:5%;
}
